.text-purple-50 {
  color: $purple-50!important;
}
.text-purple-100 {
  color: $purple-100!important;
}
.text-purple-200 {
  color: $purple-200!important;
}
.text-purple-300 {
  color: $purple-300!important;
}
.text-purple-400 {
  color: $purple-400!important;
}
.text-purple-500 {
  color: $purple-500!important;
}
.text-purple-600 {
  color: $purple-600!important;
}
.text-purple-700 {
  color: $purple-700!important;
}
.text-purple-800 {
  color: $purple-800!important;
}
.text-purple-900 {
  color: $purple-900!important;
}

