$bcsPrimaryTextColor: #604a6e;
$bcsPrimaryDarkenTextColor: #220436;

$purple-50: rgba(34, 4, 54, .04);
$purple-100: rgba(34, 4, 54, .08);
$purple-200: rgba(34, 4, 54, .12);
$purple-300: rgba(34, 4, 54, .24);
$purple-400: rgba(34, 4, 54, .36);
$purple-500: rgba(34, 4, 54, 0.4);
$purple-600: rgba(34, 4, 54, .64);
$purple-700: rgba(34, 4, 54, .72);
$purple-800: rgba(34, 4, 54, .84);
$purple-900: rgba(34, 4, 54, 1);

$borderRadius: 0.75rem;
$outlinedButtonBorder: 1px solid;

$inputBg: rgba(34, 4, 54, 0.04);
$inputPadding: 0.625rem 1.25rem;
$inputHoverBorderColor: $primaryColor;
$inputBorderRadius: 1rem;
$inputTextColor: $primaryColor;
$inputTextFontSize: 1rem;

$scaleSM: 0.875;
$scaleLG: 1.25;

//focus
$focusShadow: 0 0 0 0.1rem $focusOutlineColor;
$focusOutlineColor: $primaryColor;

:root {
  --text-color:#{$primaryColor};
  --text-color-secondary:#{$secondaryTextColor};
  --primary-color:#{$primaryColor};
  --primary-color-text:#{$primaryTextColor};
  --font-family:#{$fontFamily};
}
